{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon E-Portfolio{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#photo  ">
                <span class="d-block d-lg-none">Nathan Martin Encinas</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-4   " src="photo de profil.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">à propos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#cv">CV    </a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">education</a></li>   
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">competences</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Loisirs</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">portfolio</a></li>
                </ul>
            </div>
        </nav>  
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Nathan
                        <span class="text-primary">Martin Encinas</span>
                    </h1>
                    <div class="subheading mb-5">
                        214 rue du gamay saint romain · Saint Romain la Motte, 42640 · 06 23 39 95 25 ·
                        <a href="mailto:nathan.martin.encinas@etu.univ-st-etienne.fr">nathan.martin.encinas@etu.univ-st-etienne.fr</a>
                    </div>
                    <p class="lead mb-5">Je suis étudiant en 1ère année de BUT Réseaux et Télécommunications à l'IUT de Roanne. Je suis passionné de cybersécurité. J’aime le travail d’équipe, je suis dynamique et motivé. Les challenges professionnels garantissent ma motivation et mon énergie en entreprise. </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/nathan-martin-encinas-0a5242229/   "><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/nathanmrt"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- CV-->
            <section class="resume-section" id="cv">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Voici mon CV
                        <br>
                        <br>
                        <div style="text-align: center;">
                            <img src="cv.jpg" width="200" height="200">
                        </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Manutentionnaire</h3>
                            <div class="subheading mb-3">APS Métallerie</div>
                            <p>J'ai travailler en tant que manutentionnaire pendant un mois chez APS Métallerie qui est une entreprise qui achète et vend toutes sortes de métal, je devais accrochés des pièces à une chaîne de peintures et ensuite les peindre afin qu'elle soit expédier, cela m'a appris à être persévérant.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Juin - Juillet 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Monteur et cadreur vidéo</h3>
                            <div class="subheading mb-3">Yohan Subrin</div>
                            <p>Ceci était mon stage en entreprise de 3ème, j'ai appris à être minutieux dans toutes mes tâches car il fallait faire attention au moindre détail lors du montage des vidéos, découverte du monde de l'audiovisuel qui demande d'être minutieux, patient et riguoureux.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Janvier 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
             <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Lycée hippolyte carnot roanne</h3>
                            <div class="subheading mb-3">bac sti2d mention bien</div>
                            <div>Seconde générale, première et terminale STI2D spécialité ITEC</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2018 - 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">collège de la côte roannaise</h3>
                            <div class="subheading mb-3">brevet mention Bien</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2014 - 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Competences</h2>
                    <div class="subheading mb-3">Language de programmation et outils </div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-cuttlefish"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-symfony"></i></li>
                        <li class="list-inline-item"><i class="fab fa-github"></i></li>
                    </ul>
                    <div class="subheading mb-3">Tâches</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Configurer un switch
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Gérer les différents types de langage de programmation
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Développement de site web
                        </li>
                        <br>
                        <li>   
                            <a href="CV Nathan.pdf"> Télecharger mon CV</a>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Loisirs</h2>
                    <img src="gaming.webp" width="300" height="200">
                    <img src="basket.jpg" width="150" height="200">
                    <img src="musique.webp" width="280" height="200">
                    <br>
                    <br>
                    <p> J'aime les jeux vidéos car ils développent le travail en équipe ainsi que la détermination et la compétition, je fais du basket en club depuis l'âge de 4 ans, ainsi il m'a permis de développer mes aptitudes à travailler en équipe et avoir l'esprit de compétition. La musique est aussi une de mes passions, je passe beaucoup de temps à écouter de la musique, c'est un de mes passe-temps favoris.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Portfolio</h2>
                    <img src="eportfolio.jpg" width="500" height="300">
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{% endblock %}
